$map: (loader: #510077, loadTrans: #510077 transparent, backdrop: rgba(255, 255, 255, 0.9));

@function colorMap($key) {
    @return map-get($map, $key);
}

.spinner-overlay {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0px; left: 0px;    
    width: 100%; height: 100%;
    background: colorMap(backdrop);
}


.load-dual-rings {
    display: inline-block;
    width: 64px; height: 64px;

    &::after {
        margin: 1px;
        display: block;
        content: ' ';
        width: 46px; height: 46px;
        border: 5px solid colorMap(loader);
        border-radius: 50%;
        border-color: colorMap(loadTrans) colorMap(loadTrans);
        animation: load-dual-ring 1.2s linear infinite;
    }

    @keyframes load-dual-ring {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
