
.authenticate_header {
    color: white;
    text-align: center;
}

.authenticate {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
    padding: 20px 20px 10px;

    form { margin-bottom: 1rem; }
}
